html {
    font-family: Poppins, sans-serif;
    line-height: 1.5;
}

body {
    margin: 0;
    background-color: #F9FBFC;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2 {
    line-height: 1.2;
}

h1 {
    font-size: 60px;
    color: #242F51;
}

a {
    color: #20399D;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer, .footer-nav {
    text-align: center;
}

.topnav {
    display: flex;
    align-items: center;
    margin-top: 75px;
}

.homepage-link {
    font-size: 30px;
    font-weight: bold;
    color: #343434;
    text-decoration: none !important;
}

.footer-homepage-link {
    color: white;
}

.text-blue {
    color: #0039fb;
}

.text-yellow {
    color: #ffc41e;
}

footer {
    padding: 130px 0;
    background-color: #09142E;
    color: white;
}

footer a {
    color: white;
}

.footer-nav {
    margin-top: 50px;
}

.footer-nav-link {
    margin: 0 12px;
}

.copyright {
    margin-top: 45px;
    font-size: 14px;
    opacity: .68;
}

.screenshot {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    margin-left: auto;
    height: 95%;
}

.first-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: bottom center/100% no-repeat url("/header-background.png");
}

.first-screen-content {
    position: relative;
    flex-grow: 25;
    display: flex;
    align-items: center;
}

.first-screen-text {
    margin-left: 70px;
    max-width: 550px;
    margin-bottom: 50px;
    margin-top: -30px;
}

.first-screen-title {
    font-weight: 600;
    margin: 0 0 40px;
}

.first-screen-p {
    font-size: 18px;
    color: #616368;
    margin: 0;
}

.first-screen-btn {
    margin-top: 40px;
}

.page-not-found {
    max-width: 650px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 99999;
}

.page-not-found-title {
    font-weight: 600;
    margin: 0 0 10px;
}

.page-not-found-text {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #0039fb;
    color: white;
    padding: 17px 41px;
    border-radius: 600px;
    font-weight: 700;
    font-size: 16px;
}

.btn:hover {
    text-decoration: none;
}

.nav-link {
    margin: 0 20px;
    color: #242F51;
}

.mla {
    margin-left: auto;
}

.nav-btn {
    margin-left: 40px;
}

@media (max-width: 900px) {
    .screenshot {
        right: 70px;
    }
}

@media (max-width: 860px) {
    .screenshot {
        right: 50px;
    }
}

@media (max-width: 835px) {
    .first-screen-content {
        flex-direction: column;
        margin-top: 100px;
    }

    .first-screen-text {
        margin-left: 0;
        max-width: 420px;
        padding: 0 32px;
        word-wrap: break-word;
    }

    .screenshot {
        position: static;
        width: 400px;
        max-width: 90%;
        height: auto;
        margin-left: 0;
        transform: none;
        margin-bottom: 50px;
    }

    .first-screen {
        height: auto;
    }
}

@media (max-width: 670px) {
    .nav-btn {
        margin-left: 20px;
    }
}

@media (max-width: 630px) {
    .nav-link {
        display: none;
    }

    .nav-btn {
        margin-left: auto;
    }
}

@media (max-width: 590px) {
    .topnav {
        margin-top: 40px;
    }
}

@media (max-width: 370px) {
    .first-screen-text {
        padding: 0 16px;
    }
}

@media (max-width: 350px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 340px) {
    .first-screen-text {
        padding: 0 8px;
    }
}

@media (max-width: 330px) {
    .container {
        width: 98%;
    }
}
